h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
    
}
.dinerImage{
    text-align: center;
}
img{
    width: 25%;
    height: 25%;
}
ul {

    padding-left: 0;
    text-align: center;
}
ul li { border: 3px outset;
display: inline-block;
}
.centered{
    text-align: center;
}